importFrom(methods, as, is)
importFrom(utils, setTxtProgressBar, tail, txtProgressBar)
import(DelayedArray)
import(HDF5Array)
importClassesFrom(DelayedArray, DelayedArray)
importFrom(BiocSingular, runExactSVD, runIrlbaSVD)
importFrom(rTensor, as.tensor)
importFrom(DelayedRandomArray, RandomNormArray)
importFrom(irlba, irlba)
importFrom(Matrix, sparseMatrix)
importFrom(einsum, einsum)

# Generics.R
exportMethods(unfold)
exportMethods(k_unfold)
exportMethods(matvec)
exportMethods(rs_unfold)
exportMethods(cs_unfold)
exportMethods(modeSum)
exportMethods(modeMean)
exportMethods(fnorm)
exportMethods(innerProd)
exportMethods(outerProd)
exportMethods(vec)
exportMethods(hadamard)
exportMethods(kronecker)
exportMethods(khatri_rao)
exportMethods(fold)
exportMethods(k_fold)
exportMethods(unmatvec)
exportMethods(rs_fold)
exportMethods(cs_fold)
exportMethods(ttm)
exportMethods(diag)
exportMethods("diag<-")

# Misc.R
export(list_rep)
export(modebind_list)
export(rbind_list)
export(cbind_list)
export(hadamard_list)
export(kronecker_list)
export(khatri_rao_list)
export(ttl)
export(DelayedDiagonalArray)

# Decomp.R
exportMethods(hosvd)
exportMethods(cp)
exportMethods(tucker)
exportMethods(mpca)
exportMethods(pvd)

# Einsum.R
export(einsum)

# Global-settings.R
export(setSparse)
export(getSparse)
export(setVerbose)
export(getVerbose)
