import(DelayedArray)
importClassesFrom(DelayedArray, DelayedArray)

# AllGenerics.R
exportMethods(unfold)
exportMethods(k_unfold)
exportMethods(matvec)
exportMethods(rs_unfold)
exportMethods(cs_unfold)
exportMethods(modeSum)
exportMethods(modeMean)
exportMethods(fnorm)
exportMethods(innerProd)
exportMethods(tperm)
exportMethods(vec)

# Misc.R
export(hadamard_list)
export(kronecker_list)
export(khatri_rao)
export(khatri_rao_list)
export(ttm)
export(ttl)
export(t_mult)
export(rand_tensor)
export(fold)
export(k_fold)
export(unmatvec)
export(rs_fold)
export(cs_fold)

# Decomp.R
export(hosvd)
export(cp)
export(tucker)
export(mpca)
export(pvd)
export(t_svd)
export(t_svd_reconstruct)
